/*rendu1*/
/*
#classe1 >p{
    color: red;
}
div >p{
    color: red;
}
/*rendu2*/
/*#classe1 >p{
    color: red;
}*/
/*rendu3*/
/*div{
    color: red;
}
/*rendu4*/
/*
body >h2{
    color:red;
}
div >h2{
    color:red;
}
/*rendu5*/
div >h2{
    color:red;
}